.brief-section {
  background-color: #fff;
  height: 511px;
  position: relative;
  width: 100vw;
}
.brief-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  text-align: right;
  max-width: 60vw;
  height: 222px;
  position: absolute;
  top: 50%;
  right: 10%;
  margin-top: -100px;
}

.copyrights {
  clear: both;
  display: inline;
  position: absolute;
  top: 50%;
  left: 8%;
}
.copyrights > img {
  width: 9px;
  height: 9px;
}
h4 {
  margin-left: 9px;
  display: inline;
  text-transform: uppercase;
  color: #bbb;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
}
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
@media (max-width: 600px) {
  .brief-text {
    font-size: 18px;
  }
  .copyrights {
    left: 1%;
  }
}
