*{
    font-family: 'OCR A';
    font-size: 115px;
    color: #ffffff;
}
.welcome-screen{
    height: 100vh;
    width: 100vw;
    display: flex;

}


.welcome-img{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
}
.welcome-screen::after {
    content: "";
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
   z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);

  
}
.center-h-v{
  

    margin: auto;
    text-shadow: 8px 2px 14px #000000;
}