footer{
    background-color: #151505;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.content{
    display: flex;
    width: 77vw;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
}
h1{
 font-size: 100px;   
 color: #fafafa;
 margin-bottom: 10%;
 margin: auto;
}
.contacts{
    
    margin-bottom: 80px;

}
a {
    color: inherit; 
    text-decoration: inherit; 
  }
h3{
    font-size: 40px;
    color: #707070;
}
span:hover{
    color: #FAFAFA;
}
.linkedin:hover{
    color: #0077b5;
}


@media (max-width: 600px) {
    h1{
        font-size: 60px;
    }
    h3{
        font-size: 20px;

    }
}