<div class="mission">
    <div class="mission-content">
        <p class="mission-text">We're an award-winning team of designers and developers on a mission to create brands that cut through the
            noise. Our basis: Make it beautiful. Make it meaningful. And make it simple (but never simplistic). We love
            nothing more than working with businesses that are challenging the status quo. After all, it's how we
            started ourselves.
        </p>
        <div class="companies">
            <img class="company" src="assets/icons/companies/afb.png" alt="afb">
            <img class="company" src="assets/icons/companies/a1.png" alt="a1">
            <img class="company" src="assets/icons/companies/bm.png" alt="banque misr">
            <img class="company" src="assets/icons/companies/qiq.png" alt="Qcentris">
        </div>
    </div>
    <img class="mission-image" src="assets/img/mission.jpg" alt="mission">
</div>