

//can give height of full screen to the element
.fill-height {
  height: 100vh;
  //  margin-top: -100px;  //to be inserted once the header is introduced
}

.fill-width {
  width: 100%;
}

.underline {
  border: solid 2px $primary-color;
  width: 60px;
  border-radius: 3px;
}

.full-width-ht {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}


.dir-initial {
  direction: initial;
}

label {
  display: inline-block;
  vertical-align: middle;
}

.separator {
  width: 100%;
  border-color: $secondary-grey;
  border-radius: 0.5px;
  border-style: solid;
  border-top: 0;

  &.vertical {
    width: 1px;
    height: 75px;
    margin: 0 5px;
    align-self: center;
    border-right: 0;
  }
}

//To be changed later
.margin-bottom-5 {
  margin-bottom: 50px;
}

@mixin mobile {
  @media (max-width: $screen-md-min) {
    @content
  }
}