// Brand Colors

$primary-color: #151505;
$accent-color: #FFCD00;
$primary-white: #ffffff;
$secondary-grey: #707070;
$secondary-grey2: #bbb;
$greenish-teal: #31b78f;




//Media query variables
$min: 'min';
$max: 'max';
// Media Query Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Typography Sizes
$font-xs: 12px;
$font-sm: 14px;
$base-font: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 27px;
$font-xxl: 40px;
$font-xxxl: 60px;
$font-xxxxxl: 115px;
$font-super: 300px;


$discovery:("h1": 18px, "h2":30px, "h3":56px, "ps":16px, "pl":20px, "link":14px, "link-s":12px);
$discovery-mob:("h1": 18px, "h2":24px, "h3":56px, "ps":16px, "pl":20px, "link":14px, "link-s":12px);
$font-weights:("light":300,"normal":400,"medium":500,"semi-bold":600 , "bold":700);
$text-align: (left,right,center);
$text-transforms:(uppercase, lowercase, capitalize, none);
$cursors: (none, pointer, default, text);
