.brief-section {
  background-color: $primary-white;
  height: 511px;
  position: relative;
  width: 100vw;
}
.brief-text {
  color: $secondary-grey;
  font-size: $font-xxl;
  text-align: right;
  max-width: 60vw;
  height: 222px;
  position: absolute;
  top: 50%;
  right: 10%;
  margin-top: -100px;
  @include mobile{
      font-size: $font-md;
      margin-top: -72px;
  }
}

.copyrights {
  clear: both;
  display: inline;
  position: absolute;
  top: 50%;
  left: 8%;
  img{
    width: 9px;
    height: 9px;
  }
  @include mobile{
    left: 1%;
  }
}

.flipped-side-note {
  margin-left: 9px;
  display: inline;
  text-transform: uppercase;
  color: $secondary-grey2;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
}
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
