footer {
  background-color: #151505;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.content {
  display: flex;
  width: 77vw;
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  text-align: center;
  height: 100vh;
  position: relative;
  flex-direction: column;
}
.big-text {
  font-size: $font-xxxxxl;
  color: #fafafa;
  margin-bottom: 10%;
  margin: auto;
  @include mobile{
    font-size: $font-xxxl;

  }

}
.contacts {
  margin-bottom: 80px;

  a {
    color: inherit;
    text-decoration: inherit;
  }
  h3 {
    font-size: $font-xxl;
    color: #707070;
    @include mobile{
      font-size: $font-lg;

  
    }
  
  }
  span:hover {
    color: #fafafa;
  }
  .linkedin:hover {
    color: #0077b5;
  }
}