.mission{
    height: 80vh;
    width: 100vw;
    background-color: $primary-white;
    display: flex;
    align-items:flex-end;

    
}
.mission-content{
max-width: 56%;
bottom: 2%;
margin: 0 auto;
flex:1;
display: flex;
align-items:center;
flex-direction: column;
padding-bottom: 40px;
}
.mission-image{
    float: right;
    height: 100%;
    width: 30%;

}

.mission-text{
    color: $secondary-grey;
    font-size: $font-xl;
    margin-bottom: 40px;

}
.companies{
    max-height: 57px;; 
    width: 100%;
    display: flex;
    align-content: flex-start;
    overflow: auto;
}
.company{
    margin: 0 auto;
}

.companies > :first-child { margin-left: 0 !important; }
.companies > :last-child {margin-right: 0 !important; }

@media (max-width: 600px) {
    .mission-image{
        display: none;
    }

    .mission-text{
        font-size:$base-font;
    }
    .companies{
        width: 90vw;
    }
    .company{
        height: 30px;
        margin-right: 10px;

    }

}