.skills{
    background-color:$accent-color ;
    height: 100vh;
    width: 100vw;
    padding: 10vh 15vw;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 1%;

    h1{
        position: absolute;
        font-family: "Roboto";
        font-size:$font-super;
        font-weight: 900;
        color: $primary-white;
        margin-top: -363px;
    }
}

.skill{
    display: inline-block;
    padding-right: 1%;
    padding-bottom: 1%;
}


@media (max-width: 600px) {
    .skills{
        height: 160vh;
        h1{
            font-size: $font-xxxxxl;
            margin-top: -70px;
        }
    }
    
    .odd-skills :last-child {
        display: none;
     }
}