.welcome-screen {
  height: 200vh;
  width: 100vw;
  display: flex;
}
.welcome-message {
  span {
    font-family: "OCR A";
    display: inline-block;
    font-size: $font-xxxxxl;
    color: $primary-white;
    @include mobile {
      font-size: $font-xxl;
      text-align: center;
    }
  }
}

.welcome-vid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -2;
}
.dark-overlay {
  content: "";
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(2.5px);
  background-color: rgba(0, 0, 0, 0.5);
}
.center-h-v {
  height: 100vh;
  margin: auto;
  text-shadow: 8px 2px 14px #000000;
}

.hideHeader {
  display: none !important;
  transition: display 1000ms ease ;

}

.secondHeader {
  position: absolute;
  left: 25%;

}
.construct{
  bottom:0;

}
.things{
  bottom:-30%;

}