.skills{
    background-color:#FFCD00 ;
    height: 100vh;
    width: 100vw;
    padding: 10vh 15vw;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 1%;

}

.skill{
    display: inline-block;
    padding-right: 1%;
    padding-bottom: 1%;
}

h1{
    position: absolute;
    font-family: "Roboto";
    font-size: 300px;
    font-weight: 900;
    color: #FAFAFA;
    margin-top: -363px;
}